<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cotización del Dólar</title>
</head>
<body>
  <h1>Cotización del Dólar {{ consulta_cotizaciones.results[0].json.nombre }}</h1>
  <p>Moneda: {{ consulta_cotizaciones.results[0].json.moneda }}</p>
  <p>Compra: {{ consulta_cotizaciones.results[0].json.compra }}</p>
  <p>Venta: {{ consulta_cotizaciones.results[0].json.venta }}</p>
  <p>Última actualización: {{ consulta_cotizaciones.results[0].json.fechaActualizacion }}</p>
</body>
<body>
  <h1>Cotización del Dólar {{ consulta_cotizaciones.results[1].json.nombre }}</h1>
  <p>Moneda: {{ consulta_cotizaciones.results[1].json.moneda }}</p>
  <p>Compra: {{ consulta_cotizaciones.results[1].json.compra }}</p>
  <p>Venta: {{ consulta_cotizaciones.results[1].json.venta }}</p>
  <p>Última actualización: {{ consulta_cotizaciones.results[1].json.fechaActualizacion }}</p>
</body>
<body>
  <h1>Cotización del Dólar {{ consulta_cotizaciones.results[2].json.nombre }}</h1>
  <p>Moneda: {{ consulta_cotizaciones.results[2].json.moneda }}</p>
  <p>Compra: {{ consulta_cotizaciones.results[2].json.compra }}</p>
  <p>Venta: {{ consulta_cotizaciones.results[2].json.venta }}</p>
  <p>Última actualización: {{ consulta_cotizaciones.results[2].json.fechaActualizacion }}</p>
</body>
<body>
  <h1>Cotización del Dólar {{ consulta_cotizaciones.results[3].json.nombre }}</h1>
  <p>Moneda: {{ consulta_cotizaciones.results[3].json.moneda }}</p>
  <p>Compra: {{ consulta_cotizaciones.results[3].json.compra }}</p>
  <p>Venta: {{ consulta_cotizaciones.results[3].json.venta }}</p>
  <p>Última actualización: {{ consulta_cotizaciones.results[3].json.fechaActualizacion }}</p>
</body>
<body>
  <h1>Cotización del Dólar {{ consulta_cotizaciones.results[4].json.nombre }}</h1>
  <p>Moneda: {{ consulta_cotizaciones.results[4].json.moneda }}</p>
  <p>Compra: {{ consulta_cotizaciones.results[4].json.compra }}</p>
  <p>Venta: {{ consulta_cotizaciones.results[4].json.venta }}</p>
  <p>Última actualización: {{ consulta_cotizaciones.results[4].json.fechaActualizacion }}</p>
</body>
<body>
  <h1>Cotización del Dólar {{ consulta_cotizaciones.results[5].json.nombre }}</h1>
  <p>Moneda: {{ consulta_cotizaciones.results[5].json.moneda }}</p>
  <p>Compra: {{ consulta_cotizaciones.results[5].json.compra }}</p>
  <p>Venta: {{ consulta_cotizaciones.results[5].json.venta }}</p>
  <p>Última actualización: {{ consulta_cotizaciones.results[5].json.fechaActualizacion }}</p>
</body>
<body>
  <h1>Cotización del Dólar {{ consulta_cotizaciones.results[6].json.nombre }}</h1>
  <p>Moneda: {{ consulta_cotizaciones.results[6].json.moneda }}</p>
  <p>Compra: {{ consulta_cotizaciones.results[6].json.compra }}</p>
  <p>Venta: {{ consulta_cotizaciones.results[6].json.venta }}</p>
  <p>Última actualización: {{ consulta_cotizaciones.results[6].json.fechaActualizacion }}</p>
</body>
</html>
